/* @keyframes float {
  0% {
    transform: translateY(0px); /* Start at original position }*/

/* 50% {
    transform: translateY(-15px); /* Move up by 15px  }*/

/* 100% {
    transform: translateY(0px); /* Return to original position }} */

/* Set this up later on the title
#floating-home {
  animation-duration: auto;
  animation-name: float;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
*/
#search-btn {
  background-color: transparent;
  border: none;
}

.header img {
  padding-top: 10px;
  width: 30px;
  height: 30px;
}

#search-btn {
  border: solid rgb(243, 186, 112);
  align-items: center;
  padding-bottom: 10px;
}
.header {
  display: flex;
  gap: 50px;
  justify-content: right;
  padding-right: 50px;
}
.home-title {
  text-align: center;
  font-size: x-large;
}

.footer {
  background-color: rgb(236, 204, 164);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-style: bold;
  flex-shrink: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.home-description {
  display: flex col;
  border: solid;
  width: 40%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  text-align: center;
}

.home-description #gen-cookie-btn {
  background-color: antiquewhite;
  margin-bottom: 20px;
}

.fortune {
  display: flex col;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}
.fortune img {
  width: 100px;
  height: 100px;
}
/* 
.fortune #fortune-button {
} */
